@import "../../static/styles/base/variables";

.new-button {
  border: 0;
  cursor: pointer;
  transition: $timeMedium ease;
  align-items: center;
  text-align: center;
  padding: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: $fontLexend;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;

  &:focus-visible {
    border: 2px solid black;
  }

  &--max {
    max-width: 100%;
  }

  &--primary {
    background: $colorPrimaryViolet;
    color: $colorWhite;

    &:hover:enabled {
      background: rgba($colorPrimaryViolet, 0.9);
    }

    &:active:enabled {
      background: rgba($colorPrimaryViolet, 0.95);
    }
  }

  &--secondary {
    background: $colorPressedGrey;
    color: $colorBlack;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.26px;
    padding: 12px 0;
    &:hover:enabled {
      background: rgba($colorPrimaryViolet, 0.9);
      color: $colorWhite;
    }

    &:active:enabled {
      background: rgba($colorPrimaryViolet, 0.95);
      color: $colorWhite;
    }
  }
}
