@import "static/styles/base/variables";

.form {
    position: relative;
    padding: 186px 0 90px;
    display: flex;

    @media (max-width: 1024px) {
        padding: 128px 0 88px;
    }

    @media (max-width: 768px) {
        padding: 80px 0 72px;
    }

    @media (max-width: 480px) {
        padding: 64px 0;
    }

    @media (min-height: 701px) {
        height: 100vh;
    }

    &__wrapper {
        width: 100%;

        @media (min-height: 900px) {
            margin: auto;
        }
    }

    &__image {
        max-width: 80px;
        width: 100%;
        display: flex;
        margin: 0 auto 44px;

        @media (max-width: 480px) {
            margin-bottom: 32px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 32px;

        @media (max-width: 480px) {
            margin-bottom: 24px;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        max-width: 376px;
        width: 100%;
        margin: 0 auto;

        &__checkbox {
            margin-bottom: 32px;

            @media (max-width: 480px) {
                margin-bottom: 24px;
            }
        }

        &__button {
            margin-bottom: 12px;
            height: 56px;
            img {
                max-width: 24px;
                width: 100%;
            }
        }

        &__error {
            font-family: $fontLexend;
            color: $colorErrorRed;
            width: 100%;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
        }
    }
}
