@import "static/styles/base/variables";

.content {
    position: relative;

    &-block {
        padding: 0px 80.5px;
        display: flex;
        margin-bottom: 40px;
        justify-content: center;

        @media (max-width: 1260px) {
            padding: 0px 30px;
        }

        @media (max-width: 1060px) {
            flex-direction: column;
        }

        &-form {
            margin-left: 152.5px;
            max-width: 832px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 1260px) {
                margin-left: 10.5vw;
            }

            @media (max-width: 1060px) {
                margin-left: 0px;
                max-width: 100%;
            }

            @media (max-width: 768px) {
                flex-direction: column;
            }

            &__title {
                color: $colorBlack;
                font-family: $fontLexend;
                font-size: 20px;
                font-weight: 700;
                line-height: 32px;
                margin-bottom: 24px;

                &--right {
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }

            &-left {
                max-width: 376px;
                width: 100%;

                @media (max-width: 1060px) {
                    max-width: 47%;
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }

                &-wrapper {
                    width: 100%;

                    &-main {
                        width: 100%;
                        position: relative;

                        &__bottom {
                            @media (max-width: 768px) {
                                display: none;
                            }
                        }

                        &__button {
                            max-width: 100%;
                            width: 100%;

                            img {
                                max-width: 24px;
                                width: 100%;
                            }
                        }

                        &__error {
                            font-family: $fontLexend;
                            color: $colorErrorRed;
                            width: 100%;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 400;
                            margin-top: 4px;
                        }

                        &__success {
                            font-family: $fontLexend;
                            color: $colorAcademyGreen;
                            width: 100%;
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: 500;
                            margin-top: 4px;
                        }
                    }
                }
            }

            &-right {
                max-width: 376px;
                width: 100%;

                @media (max-width: 1060px) {
                    max-width: 47%;
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }

                &__bottom {
                    display: none;

                    @media (max-width: 768px) {
                        display: block;
                    }
                }
            }
        }
    }
}
